/* Change the background of the entire visible page */
body {
    background-color: #e95e5e; /* Very light red  */
}

/* Style for all paragraphs */
p {
    color: darkred;
    font-size: 24px;
    font-family: 'comic sans', serif;
}

/* Style for the main heading */
h1 color black;
h1 {  text-align: center; /* Puts the heading in the middle */
    border: 4px solid black; /* Adds an black border around the heading */
    padding: 10px; /* Adds space inside the border */
