/* Change the background of the entire visible page */
body {
    background-color: #f0f0f0; /* Very light red  */
}

/* Style for all paragraphs */
p {
    color: darkred;
    font-size: 16px;
    font-family: 'comic sans', serif;
}

/* Style for the main heading */
h1 color black;
    text-align: center; /* Puts the heading in the middle */
    border: 2px solid orange; /* Adds an orange border around the heading */
    padding: 10px; /* Adds space inside the border */
